name: Test Docker Bake

on:
  workflow_dispatch:

jobs:
  build-images-multi-target-mixed-arch:
    uses: k-candidate/gha-workflows/.github/workflows/docker-bake-9.yaml@bake
    secrets:
      dockerhub_username: ${{ secrets.MY_REGISTRY_USER }}
      dockerhub_token: ${{ secrets.MY_REGISTRY_TOKEN }}
    with:
      bake-file: ./testdir/testsubdir/docker-bake-multi-target-mixed-arch.hcl

  build-images-single-target-multi-arch:
    uses: k-candidate/gha-workflows/.github/workflows/docker-bake-9.yaml@bake
    secrets:
      dockerhub_username: ${{ secrets.MY_REGISTRY_USER }}
      dockerhub_token: ${{ secrets.MY_REGISTRY_TOKEN }}

  build-images-multi-target-single-arch:
    uses: k-candidate/gha-workflows/.github/workflows/docker-bake-9.yaml@bake
    with:
      bake-file: docker-bake-multi-target-single-arch.hcl
      group: somegroup
    secrets:
      dockerhub_username: ${{ secrets.MY_REGISTRY_USER }}
      dockerhub_token: ${{ secrets.MY_REGISTRY_TOKEN }}

  build-images-single-target-single-arch:
    uses: k-candidate/gha-workflows/.github/workflows/docker-bake-9.yaml@bake
    with:
      bake-file: docker-bake-single-target-single-arch.hcl
    secrets:
      dockerhub_username: ${{ secrets.MY_REGISTRY_USER }}
      dockerhub_token: ${{ secrets.MY_REGISTRY_TOKEN }}